@charset "UTF-8";
/*------------Globais  Início-------------------*/
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color:rgba(169, 169, 169, 0.844) ;
}

/*------------Globais  Final  -------------------*/



/*------------Header  Início---------------------*/

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a , footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

/*------------Header  Final---------------------*/



/*------------Section  Início-------------------*/

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
    padding-left: 40px;
}

section.imagem {
    background-color: rgba(56, 56, 56, 0.94);
    color: white;
    padding-left: 70px;
    
}

section.imagem > p {
    width: 350px;
    background-color: rgba(0, 0, 0, 0.258);
   
}

/*------  ------Section Final---------------  ----*/



/*------------Footer Início    -------------------*/

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 6px;
}

/*------------ Footer Final    -------------------*/